.about {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

.about-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;

}

.about-right{
    flex: 1;
}

.about-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: #6A9C89 ;

}

.about-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;

}

.aboutImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
    
}

.about-linkImg {
    width: 180px;
    height: 150px;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 10%;

}

.about-linkImg:hover {
    -ms-transform: scale(1.8); 
    -webkit-transform: scale(1.8); 
     transform: scale(1.8); 
}

.about-title{
    font-weight: 600;
    color: #6A9C89;
    font-size: 36px;
}

.about-sub{
    margin: 20px 0px;
    margin-right: 10%;
    color: #6A9C89;
    font-size: 24px;
}

.about-desc{
    font-weight: 300;
    color: #6A9C89;
    text-align: center;
    margin-right: 10%;
    font-size: 20px;

}

.instagramaddress{
    text-align: center;
    align-items:center;
    justify-content: center;
    font-size: 28px;
    text-decoration: none;
    color: #6A9C89;
}

@media screen and (max-width:480px) {
    .about{
      flex-direction: column;
      text-align: center;
      margin-top: -60%;
   
    }

    .a-left {
      width: 100%;
    }

    .a-card {
      height: 30vh;
    }

    .a-card.bg, .a-award {
      display: none;
    }

    .a-right{
      padding: 20px;
    }

    .about-title{
        font-weight: 600;
        color: #00a99d;
        margin-top: 20%;
        font-size: 24px;

    }

    .about-sub{
        margin: 20px 0px;
        color: #6A9C89;
        font-size: 16px;
    
   
    }

    .about-desc{
        font-weight: 300;
        color: #6A9C89;
        text-align: center;
        font-size: 12px;
        margin-left: 5%;
     
    }

    .about-linkImg {
        width: 60px;
        height: 50px;
        border-radius: 10px;
        margin-top: -2%;
        margin-left: 10%;
    
    }

    .instagramaddress {
        font-size: 18px;
    }

     .about-linkImg:hover {
        -ms-transform: scale(1.8); 
        -webkit-transform: scale(1.8); 
         transform: scale(1.8); 
    }

    

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .about{
        flex-direction: column;
        text-align: center;
        margin-top: -10%;
     
      }
}
